.background {
    background-color: #ccbbee;
    width: 80%;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.trait {
    margin: auto;
    width: 75%;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #e5d5ff;

}

.trait-in {
    padding: 35px;
}

.trait-summary {
    font-size: 20px;
}

.text-box {
    width: 100%;
    margin: auto;
}

.submit-button {
    text-align: center;
}